#navtab{
    display: flex;
    padding:12px;
    background-color: white;
}

#input{
    border: none; 
    width: 690px;
    height: 30px;
    padding-left: 12px;
    font-size: 17px;
    font-family: sans-serif;
    background-color: #F0F5FF;
}

.nav{
    padding-left: 60px;
    display:flex;
    align-items: center;
    font-size: 17px;
    font-family: sans-serif;
}

body{
    background-color: #f1f2f4;
}

#categories{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}


#categories > div > img{
   height: 70px;
   width: 70px;
}

#categories > div{
display: flex;
flex-direction: column;
align-items: center;
}

li{
    list-style: none;
}

#footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 18px;
    padding-top: 18px;
}

.heading{
    color: gray;
}
